@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 white-text" onmouseover="newColor()" onmouseout="oldColor()">Hello, World</h1>
    <p class="white-text">Welcome to Kevin's Fav, sit back and enjoy the song.</p>
</div>

<div>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/4iU09oK_pI4" title="Fox Stevenson - Like That (Official Music Video)" frameborder="0" allowfullscreen></iframe>
</div>